**/__pycache__/

**/result*
**/media
**/site

.cache/
.direnv/
.git/
.github/
.hypothesis/
.idea/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/

.coverage
.editorconfig
.env
.envrc
.gitignore

.coveragerc.toml
.env.example
.prek.toml
.pytest.toml
.request.json
.ruff.toml

compose.ci.yml
compose.yml
railway.json

flake*
justfile
